body {
    margin: 0;
    background-color: #121212;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-frame {
    width: 80%;
    height: 80vh;
}
