h1 {
    color: rgb(198, 216, 32);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif; margin:0; min-height:100vh; display:flex; align-items:center; justify-content:center; background:#1d1d1d;
}